
.event-container {
    background: rgb(47, 47, 47);
    padding: 20px;
    max-width: 500px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    color: rgb(255, 254, 254);
    align-items: center;
    margin: 50px;
    justify-content: center;
}

.Host-event-heading h2 {
    color: #ffffff;
    font-size: 25px;
    font-weight: 700;
}

.event-form {
    display: flex;
    flex-direction: column;
}

.event-input, .event-textarea {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    background-color: #312f2f;
}

.event-textarea {
    height: 80px;
    resize: none;
}

.event-button {
    background-color: #41ed35;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    font-weight: 700;
}

.event-button:hover {
    background-color: #01a709;
}
