/* Container */

.form-container {
    max-width: 600px;
    margin: 0 auto;
    /* Remove margin on top */
    padding: 20px;
    font-family: Arial, sans-serif;
}


/* Divider */

.divider {
    border: none;
    border-top: 1px solid #000;
    margin-bottom: 20px;
}


/* Title */

.form-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
    text-transform: uppercase;
    text-align: left;
    /* Align title to the left */
}


/* Toggle Buttons */

.toggle-buttons {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.toggle-btn {
    padding: 10px 20px;
    border: 1px solid #000000;
    border-radius: 20px;
    font-size: 14px;
    cursor: pointer;
    color: black;
    background-color: white;
    transition: background-color 0.3s;
}

.toggle-btn.active {
    background-color: #252525;
    border-color: #000000;
    font-weight: bold;
    color: white;
}

.toggle-btn:hover {
    background-color: #5c5c5c;
}

.error-text {
    color: red;
    font-size: 14px;
    margin-top: 5px;
  }
  
  .success-text {
    color: green;
    font-size: 14px;
    margin-top: 5px;
    font-weight: bold;
  }
  

/* Form Styles */

.form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-label {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
}

.required {
    color: red;
}

.form-input,
.form-textarea {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: none;
    border-bottom: 1px solid #000;
    outline: none;
    color: #000;
    background: none;
}

.form-textarea {
    resize: none;
}


/* Submit Button */

.submit-btn {
    align-self: flex-end;
    /* Align button to the right */
    padding: 10px 20px;
    font-size: 14px;
    font-weight: bold;
    color: white;
    background-color: #252525;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-bottom: 20px;
    /* Space below the button */
}

.submit-btn:hover {
    background-color: #0a0a0a;
}


/* Additional Space Below Form Sections */

.form-group+.form-group {
    margin-top: 15px;
    /* Add space between sections */
}